torch==2.0.1
torchsde
einops
transformers==4.26.1
safetensors>=0.3.0
xformers
aiohttp
accelerate
pyyaml
Pillow
scipy
psutil
opencv-python==4.7.0.72
opencv-contrib-python==4.7.0.72
diffusers
tqdm
boto3
segment-anything
piexif
insightface==0.7.3
onnx>=1.14.0
onnxruntime>=1.15.1
torchvision
rembg
importlib_metadata
huggingface_hub
filelock
Pillow
timm==0.6.13
python-dateutil
mediapipe
svglib
fvcore
yapf
omegaconf
ftfy
simpleeval
cmake
fairscale>=0.4.4
git+https://github.com/WASasquatch/img2texture.git
gitpython
imageio
joblib
matplotlib
numba
numpy<1.24>=1.18
pilgram
git+https://github.com/WASasquatch/ffmpy.git
scikit-image==0.20.0
scikit-learn
torchdiffeq
opendatalab==0.0.9
openmim
mmengine==0.7.4
mmdet==3.0.0

ultralytics!=8.0.177 # for subpack. wtf is this sheet?
wget
realesrgan

numpy
matplotlib
scikit_image
pymatting
segment_anything
addict
colour-science
loguru
typer_config
fastapi
rich
google-generativeai
kornia
image-reward

basicsr>=1.4.2

simpleeval

yacs
trimesh[easy]
albumentations

gitpython

cupy-wheel

colour-science

addict

cachetools

pycocoevalcap
qrcode[pil]
pytorch_lightning
pydantic

pyOpenSSL
watchdog
opencv-python-headless
openai
simple-lama-inpainting
clip-interrogator==0.6.0
zhipuai
lark-parser
imageio-ffmpeg

git+https://github.com/WASasquatch/cstr

librosa
color-matcher